.background-green {
  background-color: #B4F2C5 !important;
}

.background-green--dark {
  background-color: #38B772 !important;
}


.background-peach {
  background-color: #F2B4B4 !important;
}

.background-white {
  background-color: #FFFFFF !important;
}

.background-black {
  background-color: #000000 !important;
}

.background-grey {
  background-color: #F2F2F2 !important;
}

.background-blue {
  background-color: #B4D4F2 !important;
}

.background-offwhite {
  background-color: #FFFFFC !important;
}

.background-gradient {
  background: linear-gradient(45deg, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%);
}