* {
  font-family: 'Rubik', 'sans';
}

a {
  color: #665DF5
}

.title-style {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 57px;
  color: #161617;
}

.subtitle-style {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #665DF5;
}

.subheader-style {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #1D1D1D;
}

.para-style {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #505050;
}

.stepnum-style {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  line-height: 57px;
  color: #665DF5;
  opacity: 0.4;
}

.label {
  margin-top: 5px;
  margin-bottom: 2px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #505050;
}

.submit-button {
  padding-top: 9px;
  padding-bottom: 10px;
  background: #665DF5;
  height: auto;
  border-radius: 5px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #FFFFFF;
}