.text-green {
  color: #A6CFAA !important;
}

.text-peach {
  color: #CFA6A6 !important;
}

.text-white {
  color: #F6F6F6 !important;
}

.text-offwhite {
  color: #fffeee !important;
}

.text-black {
  color: #1D1D1D !important;
}

.text-grey {
  color: #C2C2C2 !important;
}

.text-blue {
  color: #A6AFCF !important;
}

.text-light-grey {
  color: #C8CFD5 !important;
}

