.text-green {
  color: #64c56d !important;
}

.text-peach {
  color: #cf6666 !important;
}

.text-white {
  color: #F6F6F6 !important;
}

.text-offwhite {
  color: #fffeee !important;
}

.text-black {
  color: #1D1D1D !important;
}

.text-grey {
  color: #C2C2C2 !important;
}

.text-blue {
  color: #7084ce !important;
}

.text-light-grey {
  color: #C8CFD5 !important;
}

.text-red {
  color: #8B0000 !important;
}

